@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
}
h1 {
    font-size: 2em;
}
h1 span {
    font-weight: 100;
}
h2 {
    letter-spacing: 10px;
    font-weight: 700;
}
h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
h4 {
    padding: 10px 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header */
header {
    background: linear-gradient(to bottom, #E8E4E0 10%, #fff);
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo {
    width: 30%;
    align-self: flex-start;
}
nav ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: #594a3e86;
    font-size: small;
}
nav li :hover {
    font-weight: 500;
    color: #594a3e;
}
.hero {
    padding: 10px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero img {
    width: 50%;
    padding-top: 20px;
}
.text-hero {
    width: 500px;
}
.text-hero h2 {
    font-weight: 300;
    letter-spacing: normal;
}
.text-hero h3 {
    color:white;
    text-transform: uppercase;
    text-shadow: #594a3e 0 2px 2px;
}
.text-hero p{
    padding: 20px 0;
    margin-bottom: 20px;
}
.text-hero a {
    color: #E8E4E0;
    background-color: #594a3e;
    padding: 10px 20px;
    border-radius: 50px;
}
.text-hero a:hover {
    color: #594a3e;
    background-color: #BDB2A7;
}
.role-text {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-top: 4px;
    overflow: hidden;
    animation: showUp 0.7s forwards;
    animation-delay: 1.4s;
    opacity: 0;
    transform: translateY(20px);
}
.role-text span {
    padding-top: 10px;
    animation: switchRole 4s ease-in-out alternate infinite;
}
/* end header */

main {
    padding: 0 60px;
}

/* projects */
.projects, .skills, .about {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}
aside {
    width: 15%;
    font-size: .8em;
}
aside a{
    color: #BDB2A7;
}
aside li {
    padding: 10px 0;
}
.right, .about-container {
    width: 85%;
}
.projects-container {
    padding: 30px 0;
}
.projects-container h3{
    padding: 10px 0;
}
.projectline {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 20px #0000001a ;
    display: flex;
    flex-direction: column;
}
.card img {
    width: auto;
    height: 300px;
    border-radius: 20px;
}
.card p  {
    padding-top: 20px;
    font-size: 1em;color: #594a3e;
}
.card a  {
    padding-top: 20px;
    color: #594a3e;

}
/* end projects */

/* skills */
.skills {
    display: flex;
    flex-direction: column;
}
.skills > p {
    padding: 20px;
    font-weight: 600;
    padding-bottom: 40px;
    align-self: center;
}
.container {
    display: flex;
    justify-content: space-around;
}
.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8E4E0;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00000027;
} 
.tech-container h3 {
    padding-top: 30px;
    text-align: center;
}
.tech-list {
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech-list ul {
    display: flex;
    flex-direction: column;
    
}
.tech-list li {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.tech-list img {
    width: 70%;
    height: auto;
}

/* end skills */

/* about */
.about-container h3 {
    padding: 5px 0;
    color: #594a3e;
}
.about-box {
    display: flex;
    justify-content: space-between;
}
.about-box p {
    padding: 10px 0;
}
.about-box img {
    width: 40%;
}
.about-me, .experiences, .education {
    width: 500px;
    margin-top: 40px;
}
.experiences li li {
    list-style: square inside;
}
/* end about */


/* contact */
.contact {
    margin-top: 10px;
    height: 550px;
    background: linear-gradient(135deg, #E8E4E0 5%, #fff);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #0000001a;

}
.contact-left img {
    width: 60%;
}
form {
    width: 600px;
    height: max-content;
    padding: 40px;
    background-color: #E8E4E0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}
label {
    padding-bottom: 2px;
    font-size: 14px;
}
input {
    border-radius: 50px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
}
textarea {
    border-radius: 20px;
    border: none;
}
button{
    height: 30px;
    width: 120px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #594a3e;
}
button:hover {
    color: #594a3e;
    background-color: #BDB2A7;
}    
/* end contact */

/* pageUp */
.pageUp{
    position: fixed;
    bottom: 1.8rem;
    right: 1.8rem;  
}
.pageUp i {
    color: #594a3e;
}
/* end pageUp */

/* footer */
footer {
    height: 50px;
    margin-top: 40px;
    background-color: #594a3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
footer ul {
    display: flex;
    flex-direction: row;
}
footer ul i {
    color: #fff;
    padding-right: 10px;
}
footer p {
    color: #fff;
    font-size: .8em;
}
footer span {
    font-weight: 900;
}
/* end footer */

/* animation */
@keyframes showUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes switchRole {
    0% {
        transform: translateY(0px);
    } 20% {
        transform: translateY(0px);
    } 40% {
        transform: translateY(-36px);
    } 60% {
        transform: translateY(-36px);
    } 80% {
        transform: translateY(-72px);
    } 100% {
        transform: translateY(-72px);
    }
}
/* end animation */