@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
}
h1 {
    font-size: 2em;
}
h1 span {
    font-weight: 100;
}
h2 {
    letter-spacing: 10px;
    font-weight: 700;
    border-bottom: 1px solid #BDB2A7;
    }
h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header */
header {
    background: linear-gradient(to bottom, #E8E4E0 10%, #fff);
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo {
    width: 30%;
    align-self: flex-start;
}
nav ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    /* color: #594a3e9c; */

}
nav a {
    color: #594a3e86;
    font-size: small;
}
nav li :hover {
    font-weight: 500;
    color: #594a3e;
}
.hero {
    padding: 10px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero img {
    width: 50%;
    padding-top: 20px;
}
.text-hero {
    width: 400px;
}
.text-hero h2 {
    font-weight: 300;
    letter-spacing: normal;
}
.text-hero h3 {
    color:white;
    text-transform: uppercase;
    text-shadow: #594a3e 0 2px 2px;
}
.text-hero p{
    padding: 20px 0;
    margin-bottom: 20px;
}
.text-hero a {
    color: #E8E4E0;
    background-color: #594a3e;
    padding: 10px 20px;
    border-radius: 50px;
}
.text-hero a:hover {
    color: #594a3e;
    background-color: #BDB2A7;
}
.role-text {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-top: 4px;
    overflow: hidden;
    animation: showUp 0.7s forwards;
    animation-delay: 1.4s;
    opacity: 0;
    transform: translateY(20px);
}
.role-text span {
    padding-top: 10px;
    animation: switchRole 4s ease-in-out alternate infinite;
}
/* end header */

main {
    padding: 0 60px;
}

/* projects */
.projects {
    padding: 60px;
    display: flex;
    justify-content: space-between;
}
aside {
    width: 15%;
    font-size: .8em;
}
aside a{
    color: #BDB2A7;
}
aside li {
    padding: 10px 0;
}
.right {
    width: 85%;
}
.projects-container {
    padding: 30px 0;
}
.projects-container h3{
    padding: 10px 0;
}
.projectline {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 20px #0000001a ;
    display: flex;
    flex-direction: column;
}
.card img {
    width: auto;
    height: 200px;
}.card p {
    padding-top: 20px;
    font-size: .8em;
}
/* end projects */

/* skills */
.skills {
    padding-top: 60px;
}
.skills > p {
    padding: 20px 0;
    font-weight: 600;
}
/* end skills */

/* pageUp */
.pageUp{
    position: fixed;
    bottom: 1.8rem;
    right: 1.8rem;  
}
.pageUp i {
    color: #594a3e;
}
/* end pageUp */

/* footer */
footer {
    height: 50px;
    background-color: #594a3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
footer ul {
    display: flex;
}
footer ul i {
    color: #fff;
    padding-right: 10px;
}
footer p {
    color: #fff;
    font-size: .8em;
}
footer span {
    font-weight: 900;
}
/* end footer */

/* animation */
@keyframes showUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes switchRole {
    0% {
        transform: translateY(0px);
    } 20% {
        transform: translateY(0px);
    } 40% {
        transform: translateY(-36px);
    } 60% {
        transform: translateY(-36px);
    } 80% {
        transform: translateY(-72px);
    } 100% {
        transform: translateY(-72px);
    }
}
/* end animation */